body{
font-family:Arial, sans-serif;
display: flex;
flex-direction: column;

}

header{
    display: flex;
    justify-content: space-between;

    border: 2px solid black;
}

#logo-pic-div{
    display: flex;
    justify-content: center;

    border: 2px solid black;
}

#search-bar{
    display: flex;
    justify-content: center;
    height: 30px;
    padding: 10px;

    border: 2px solid black;
}

#search-buttons{
    display:flex;
    justify-content: center;
    padding: 5px;
    margin: 30px 0 0;

    border: 2px solid black;
}

#space-below-search{
    height: 100px;

    border: 2px solid black;
}

#sustainability{
    display: flex;
    justify-content: center;
    border: 2px solid black;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;


}

#bottom{
    display: flex;
    justify-content: space-between;

    border: 2px solid black;
}

#bottom-left{
    display: flex;
    justif
}